* {
    margin: 0;
    padding: 1px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Header Styles */
header {
    background-color: navy;
    color: antiquewhite;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navigation Styles */
nav {
    background-color: rgba(255, 230, 0, 0.753);
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    margin: 0 10px;
}


.button {
    margin: 1%;
    padding: 1px;
    border-radius: 0.5rem;
    font: bold;
    color: white;
    height: 1.5rem;
    background-color: navy;
    float: right;
}

.button:hover,
.button:focus {
    outline: none;
    background: rgb(109, 108, 108);
}

body {
    background-image: url('wrl.jpeg');
}

main {
    min-height: 100vh;
    width: fit-content;
    align-items: center;
    margin: 2rem;
}

main.table {
    width: 95vw;
    height: 90vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

.table_header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
}

.table_body {
    width: 95%;
    max-height: calc(89% - .8rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.table_body:hover {
    background-color: #f0f0f0; /* Add a light grey background on hover */
}

.table_body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table_body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
}

.table_body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: #fff;
}

.footer {
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    color: white;
    background-color: navy;
    height: 3rem;
}

footer p {
    text-align: center;
}
